* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.box {
    width: 480px;
    height: 480px;
    padding : 10px 20px 30px 40px;
    background-color: hotpink;
    border: 1px #000 solid;
    margin: 20px 40px 40px;
}

